#assign1 div {
  display: inline-block;
  vertical-align: top;
}

.btn{
  background-color: #ddccf4;
  border: 2px solid black;
  color: black;
}

#assign6, #assign5, #assign4, #assign3, #assign2, #assign1 {
  padding: 5px;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
  background-color: #f2f2f4;
}

h1{
  font-style: italic;
  color: rgb(65, 42, 165);;
}