/* svg {
  margin: 0px;
}

svg circle {
  fill: teal;
}

svg text {
  font-family: sans-serif;
  font-size: 11px;
  fill: olive;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x-axis text {
  font-family: sans-serif;
  font-size: 11px;
} */

#assign1 div {
  display: inline-block;
  vertical-align: top;
}

.btn{
  background-color: #ddccf4;
  border: 2px solid black;
  color: black;
}