/* Styling for the tag present in HTML */

#assign6 table {
    border: 2px;
    border-style: solid;
}

#assign6 table th {
    border: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

#assign6 table td {
    border: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

#assign6 #note {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: rgb(134, 25, 170);
    font-weight: bold;
}

#assign6 text {
    font-style: italic;
    display: inline;
    font-weight: bold;
}

#assign6 h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}