/* Styling for the tag present in HTML */

#assign6 table {
    border: 2px;
    border-style: solid;
}

#assign6 table th {
    border: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

#assign6 table td {
    border: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

#assign6 #note {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: italic;
    color: #ba1818;
    font-weight: bold;
}

#assign6 text {
    font-style: italic;
    display: inline;
    font-weight: bold;
}

#assign6 h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#assign6 #reset {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
    background-color: #edc1c1;
    font-weight: bold;
    height: 25px;
}

#assign6 #loadData_a06 {
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    border: 2px solid black;
    background-color: #edc1c1;
    height: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
} 