/* Styling for Color Legend */
#assign3 #columns{
    background-color: #f5ebd2;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 5px;
}

/* Styling for the Parallel Coordinates plot */
#assign3 svg {
    border-style: solid;
    border-color: rgb(109, 112, 113);
    border-width: 2.5px;
    border-radius: 0.2cm;
    margin-right: 8px;
}

/* Styling for displaying car's name in the popup box */
#assign3 div.tooltip-donut {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 15px;
}

/* Styling for drop down manu */
#assign3 #columns option {
    width: 100px;
    top: 40px;
    left: 25px;
    text-align: left;
    padding: 5px;
    background: #f5ebd2;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 15px;
    font-weight: bold;
}

#assign3 #svgColorLegend{
    border-style: solid;
    border-color: rgb(109, 112, 113);
    border-width: 2.5px;
    border-radius: 0.2cm;
    margin-right: 8px;
    padding: 5px;
}


/* Styling for arrows in labels and flips */
#assign3 .increase,
#assign3 .decrease,
#assign3 .left,
#assign3 .right {
    fill: #4269f5;
    stroke: #070707;
}

/* Styling for Labels in color legend */
#assign3 #colorLegend .label {
    font-style: italic;
    display: inline;
    font-weight: bold;
    font-size: 14px;
}

/* Styling for note text in the plot */
#assign3 #note {
    transform: translate(100, 0);
    position: relative;
    padding: 0px;
}

#assign3 #note text {
    position: relative;
    padding: 5px;
}

/* Styling for text in the plot */
#assign3 #div1_a03 svg text {
    font-style: italic;
    display: inline;
    font-weight: bold;
    font-size: 12px;
}

/* Stying the table for Answer 1 */
#assign3 table,
#assign3 th,
#assign3 td {
    border: 1px solid;
}